body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
}

ul {
    list-style: none;
}

#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #Sign_In {
    background: blue;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}

#Sign_In:hover {
    box-shadow: 1px 1px 5px lightgrey;
}

#Sign_In {
    color: white;
}

.google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}

.form {
    text-align: center;
}

#txtSearch  {
    width: 450px;
    line-height: 32px;
    padding: 20px 10px;
}

.form #txtSearch {
    padding: 0 8px;
}

#txtSearch:hover {
    border-color: whitesmoke;
    padding-top: 0;
}

.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 200px;
}

footer {
    background: lightgrey;
    border-top: solid 2px whitesmoke;
    position: fixed;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
}

footer ul li {
    display: inline;
    color: grey;
    font-size: 14px;
    padding: 13px;
}

footer ul {
    float: left;
    padding: 1px;
}

footer ul a:hover {
    text-decoration: underline;
}

.footer-right {
    float: right;
}